
<form #myForm="ngForm" (ngSubmit)="searchItem(myForm)">

    <div class="container" fxLayout="row" fxLayoutAlign="space-around center">
        <div style:margin-wrap-right fxFlex=99%><mat-form-field><input matInput name="bktitle" placeholder="Book Title" ngModel required></mat-form-field></div>
     
        <div style:margin-wrap-right fxFlex=50%><mat-form-field><input matInput name="authname" placeholder="Author's Name" ngModel required></mat-form-field></div>
        
    </div>
    <div class="container"fxLayout="row" fxLayoutAlign="start">
    <mat-form-field>
        <mat-select name="pglimit" ngModel placeholder="Book Records Search Limit">
                <mat-option value=5> 5 </mat-option>
                <mat-option value=10> 10 </mat-option>
                <mat-option value=15> 15 </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div style alignment="right">
        <button type="submit" mat-raised-button color=accent [disabled]="myForm.invalid">Search</button>
    </div>       
</form> 

